{% extends 'index.html' %}


{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ instance.title }} | {{ instance.ticker }} | {{ instance.price }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <canvas id="myChart"></canvas>
                            </div>

                            <div class="col-6">
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                                          

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Info</h4>
                        <p>Wiki Page: {{ instance.wikipedia_url }}</p>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>INFO</th>
                                    <th>VALUE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Simply Return</th>
                                    <th>{{ instance.simply_return }}</th>
                                </tr>

                                <tr>
                                    <th>Log Return</th>
                                    <th>{{ instance.log_return }}</th>
                                </tr>

                                <tr>
                                    <th>Beta</th>
                                    <th>{{ instance.beta }}</th>
                                </tr>

                                <tr>
                                    <th>Market Variance</th>
                                    <th>{{ instance.market_variance }}</th>
                                </tr>

                                <tr>
                                    <th>Simply Return</th>
                                    <th>{{ instance.simply_return }}</th>
                                </tr>

                                <tr>
                                    <th>Simply Return</th>
                                    <th>{{ instance.simply_return }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-3">
                 <div class="card">
                    <div class="card-header">
                        <h4>Feed</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody style="height: 300px; overflow:auto;">
                                {% for ele in feed %}
                                    <tr>
                                        <td>{{ ele.published  }}</td>
                                        <td>{{ ele.title  }}</td>
                                        <td>{{ price.rss_id  }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Prices</h4>
                    </div>
                    <div class="card-body">
                        <table class="table" style="display: block; width: 100%; height: 600px; overflow: auto;">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Price</th>
                                    <th>Percent</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for price in prices %}
                                    <tr>
                                        <td>{{ price.date  }}</td>
                                        <td>{{ price.close  }}</td>
                                        <td>{{ price.pct_change  }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            <div class="col-4">
                 <div class="card">
                    <div class="card-header">
                        <p>Wiki Page: {{ instance.wikipedia_url }}</p>
                    </div>
                    <div class="card-body">
                        <h4>Tags</h4>
                        <ul style="height: 300px; overflow:auto;">
                            {% for tag in instance.ticker_tags.all %} <li> {{ tag.title }}  </li> {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block extra_js %} 
<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for ele in prices_chart %} {% if forloop.last %} "{{ ele.0 }}" {% else %} "{{ ele.0 }}",  {% endif %}{% endfor %}],
        datasets: [
        {
            label: '# Prices',
            backgroundColor: 'green',
		    borderColor: 'green',
			fill: false,
            data: [{% for ele in prices_chart %} {% if forloop.last %} {{ ele.1 }} {% else %} {{ ele.1 }},  {% endif %}{% endfor %}]
         
        }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

<script>
    const ctx2 = document.getElementById('myChart2');

    new Chart(ctx2, {
      type: 'line',
      scales:{
        y: {
            min: -1,
            max: 1
          }
      },
      data: {
        labels: [{% for ele in returns_chart %} {% if forloop.last %} "{{ ele.0 }}" {% else %} "{{ ele.0 }}",  {% endif %}{% endfor %}],
        datasets: [
        {
            label: '# Return %',
            backgroundColor: 'Blue',
		    borderColor: 'Blue',
			fill: false,
            data: [{% for ele in returns_chart %} {% if forloop.last %} {{ ele.1 }} {% else %} {{ ele.1 }},  {% endif %}{% endfor %}]

        }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{% endblock %}