
 <div class="card">
     <div class="card-header">
         <h4>Tickers</h4>
     </div>
     <div class="card-body">
         <table class="table table-bordered">
             <thead>
             <tr>
                 <th>Date</th>
                 <th>Title</th>
                 <th>Investment</th>
                 <th>Current Value</th>
                 <th>+/-</th>
                 <th>Buy Price</th>
                 <th>Current Price</th>
                 <th>+/-</th>
                 <th>-</th>
                 <th>-</th>
             </tr>
             </thead>
             <tbody>
             {% for ele in my_tickers %}
             <tr>
                 <td>{{ ele.timestamp }}</td>
                 <td>{{ ele.ticker }}</td>

                 <td>{{ ele.tag_starting_value}}</td>
                 <td>{{ ele.tag_current_value }}</td>
                 <td>{{ ele.tag_diff_value }}</td>

                 <td>{{ ele.tag_starting_price }}</td>
                 <td>{{ ele.tag_current_price }}</td>
                 <td>{{ ele.tag_diff_price }}</td>

                 <td>{{ ele.tag_diff_pct }}</td>
                 <th><a href="{% url 'port:sell' ele.id %}" class="btn btn-warning">SELL</a> </th>
                 <th><a href="{% url 'port:delete' ele.id %}" class="btn btn-danger">DELETE</a> </th>

             </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>
 </div>